<?xml version="1.0"?>
<config>
    <modules>
        <MindMagnet_BTPay>
            <version>1.8.2</version>
            <platform></platform>
            <self_name>BTPay by MindMagnet</self_name>
        </MindMagnet_BTPay>
    </modules>
    <frontend>
        <translate>
            <modules>
                <MindMagnet_BTPay>
                    <files>
                        <default>MindMagnet_BTPay.csv</default>
                    </files>
                </MindMagnet_BTPay>
            </modules>
        </translate>
        <routers>
            <btpay>
                <use>standard</use>
                <args>
                    <module>MindMagnet_BTPay</module>
                    <frontName>btpay</frontName>
                </args>
            </btpay>
        </routers>
        <secure_url>
            <btpay>/btpay/</btpay>
        </secure_url>
        <translate>
            <modules>
                <MindMagnet_BTPay>
                    <files>
                        <default>MindMagnet_BTPay.csv</default>
                    </files>
                </MindMagnet_BTPay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MindMagnet_BTPay>
                    <files>
                        <default>MindMagnet_BTPay.csv</default>
                    </files>
                </MindMagnet_BTPay>
            </modules>
        </translate>
        <layout>
            <updates>
                <btpay>
                    <file>btpay.xml</file>
                </btpay>
            </updates>
        </layout>
    	<!-- Admin Notification about updates -->
        <events>
            <controller_action_predispatch>
                <observers>
                    <btpay_adminnotification>
                        <class>btpay/observer</class>
                        <method>checkUpdate</method>
                    </btpay_adminnotification>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <btpay_sales_order_view_transaction_section>
                        <class>btpay/observer</class>
                        <method>addOrderViewTransactions</method>
                    </btpay_sales_order_view_transaction_section>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MindMagnet_BTPay before="Mage_Adminhtml">MindMagnet_BTPay_Adminhtml</MindMagnet_BTPay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <btpay>
                <class>MindMagnet_BTPay_Model</class>
                <resourceModel>btpay_resource</resourceModel>
            </btpay>
            <btpay_resource>
                <class>MindMagnet_BTPay_Model_Resource</class>
                <deprecatedNode>btpay_mysql4</deprecatedNode>
                <entities>
                    <transaction>
                        <table>btpay_transaction</table>
                    </transaction>
                </entities>
            </btpay_resource>
        </models>
        <blocks>
            <btpay>
                 <class>MindMagnet_BTPay_Block</class>
            </btpay>
        </blocks>
        <helpers>
            <btpay>
            	<class>MindMagnet_BTPay_Helper</class>
        	</btpay>
        </helpers>
        <resources>
            <btpay_setup>
                <setup>
                    <module>MindMagnet_BTPay</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </btpay_setup>
        </resources>
    </global>
    <default>
        <payment>
            <btpay_api>
                <active>0</active>
                <title>BT Pay - API (NOT USED AS PAYMENT)</title>
                <test>1</test>
                <debug>1</debug>
                <gateway_url></gateway_url><!-- Keep it blank to get module config gateways beased on Test Mode -->
                <encryption_key><![CDATA[]]></encryption_key>             
                <license_key><![CDATA[]]></license_key>
            </btpay_api>
            <btpay_standard>
                <active>0</active>
                <title>Card de credit (prin Banca Transilvania)</title>
                <model>btpay/standard</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>                
            </btpay_standard>
            <btpay_star>
                <active>0</active>
                <title>Rate prin StarBT</title>
                <model>btpay/star</model>
                <rambursare><![CDATA[2,3,4,5]]></rambursare>
                <instructions><![CDATA[Prin efectuarea platii acceptati numarul de rate fara dobanda specificat mai sus conform Regulamentului Bancii Transilvania "Rate fara dobanda".]]></instructions>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>                
            </btpay_star>
         </payment>
    </default>
</config>
